.debug [class*="col-"] {
  background-color: lightblue;
  border: 1px solid black;
  height: 200px;
}

.nav_top {
  background-color: #2c3e50;
  height: 150px;
}

.jumbotron {
  background-color: #1abc9c;
  height: 400px;
}
