.debug [class*="col-"] {
  background-color: lightblue;
  border: 1px solid black;
  height: 100px;
}

/* Header Start */
.nav_top {
  height: 100px;
  background-color: #2c3e50;
}

.jumbotron {
  height: 200px;
  background-color: #1abc9c;
}

/* Header End */
/* Main Start */
#portfolio {
  height: 750px;
  background-color: #ffffff;
}

#about {
  height: 500px;
  background-color: #1abc9c;
}

#contact {
  height: 350px;
  background-color: #ffffff;
}

/* Main EndStart */
/* Footer Start */
#footer_top {
  height: 400px;
  background-color: #3a546d;
}

#footer_bottom {
  height: 150px;
  background-color: #2c3e50;
}

/* Footer End */
